requests>=2.31.0
nba_api>=1.4.1
scipy>=1.11.0
numpy>=1.26.0
pandas>=2.0.0
python-dotenv>=1.0.0
schedule>=1.2.0
beautifulsoup4>=4.12.0
xgboost>=2.0.0
scikit-learn>=1.3.0
joblib>=1.3.0
python-dateutil>=2.8.2
feedparser>=6.0.0
balldontlie>=1.0.0
